.checkout_product{
    display: flex;
    align-items: center;
    flex: 1;
    background-color: white ;
}

.checkout_productImage{
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.checkout_productInfo{
    padding-top: 15px;
    padding-left: 20px;
}

.checkout_productInfo > button{
    background: #f0c41b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkout_productTitle{
    font-size: 17px;
    font-weight: 800;
}

.checkout_productRating{
    display: flex;
}