.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.amazon-logo{
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
}
.header_search{
    display: flex;
    flex: 1;
}
.header_searchInput{
    height: 12px;
    padding: 15px;
    border: none;
    width: 100%;
}

.header_searchIcon{
    
    height: auto !important;
    background: #cd9402
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_link{
    text-decoration: none;
    color: white;
}
.header_options{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header_optionsLineOne{
    font-size: 10px;
}

.header_optionsLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.shopping_cartIcon{
    color: white;
}

.header_basketCount{
    margin-left: 10px;
    margin-right :10px;
}
.header_optionBasket{
    display: flex;
    align-items: center;
}




